name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Createenployee
      id: createenployee
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Createenployee
        setup-command: ''
        command: plsql-f testschema.sql
        timeout: 10
        max-score: 15
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CREATEENPLOYEE_RESULTS: "${{steps.createenployee.outputs.result}}"
      with:
        runners: createenployee
